<h1><%= @cheese.name %></h1>
<span>Age: <%= @cheese.age %></span>
<p>Description: <%= @cheese.description %></p>
<% if @cheese.user == current_user %>
  <%= link_to 'Edit', edit_cheese_path(@cheese) %>
<% end %>

<div>
    <% unless @reviews.nil? %>
      <h2>Reviews:</h2>
      <ul>
        <% @reviews.each do |review| %>
          <li class="callout">
            <p>Rating: <%= review.rating %></p>
            <% unless review.body.empty? %>
              <p>Comment: <%= review.body %></p>
            <%  end %>
            <button type="button" name="Upvote" id="Upvote" data-review="<%= review.id %>">+</button>
          </li>
        <% end %>
      <% end %>
    </ul>
</div>

<div class="devise-form">
  <% if current_user %>
    <%= form_for [@cheese, @review] do |f| %>
      <div class="field">
        <%= f.label :rating, 'Add Rating' %><br />
        <%= f.text_field :rating %>
      </div>

      <div class="field">
      <%= f.label :body, 'Add Comment' %><br />
      <%= f.text_area :body, size: '60x12' %>
      </div>

      <div class="actions">
        <%= f.submit "Add Review" %>
      </div>
    <% end %>
  <% end %>
</div>
