<!DOCTYPE html>
<html>
  <head>
    <title>BettrCheddr</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link href="https://fonts.googleapis.com/css?family=Alegreya:900" rel="stylesheet">
  </head>

  <body>

    <nav class="title-bar" data-topbar role="navigation">
      <div class="title-bar-left">
        <h1 class="title-text"><a href="<%= root_path %>">BetterCheddar</a></h1>
      </div>

      <div class="title-bar-right">
        <% if user_signed_in? %>
          <%= link_to 'Sign Out', destroy_user_session_path, method: :delete %>
        <% else %>
          <%= link_to 'Sign In', new_user_session_path %>
          <%= link_to 'Sign Up', new_user_registration_path %>
        <% end %>
      </div>

    </nav>


    <% flash.each do |name, msg| %>
      <%= content_tag :div, msg, class: name + ' callout' %>
    <% end %>
    <div class="main row">
      <%= yield %>
    </div>
  </body>
</html>
